{% extends 'base.html.twig' %}

{% block title %}Изменить автора{% endblock %}

{% block body %}
    <h1>Изменить автора</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Изменить') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('author_index') }}">Список авторов</a>
{% endblock %}